* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: "Google Sans", Roboto, arial, sans-serif ;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px;
  background: #180e0c;
  color: #ffffff;
  width: 375pt;
  height: 60px;
  position: fixed;
}

header h1 {
  font-size: 20px;
  font-weight: lighter;
}


li {
  padding: 10px;
}

a{color: #ffffff;
}
  
body {
  width: 375pt;
}

.card {
  padding-right: 40px;
  margin: 20px;
}

.card p {
  padding-top: 10px;
}

.card h3 {
  padding-top: 10px;
}

#medio {
  padding-bottom: 40px;
  padding-top: 40px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: flex-start;
  justify-content: center;
  margin-left: 35px;
  }

#semimedio {
  background: #37201A;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 40px;
  padding-bottom: 70px;
  color: #B8745D;
  font-size: 12px;
  font-weight: lighter;
}

.listado {
  display: flex;
  margin-bottom: 20px;
  margin-top: 20px;
}

.listado p {
  width: 260px;
  padding-left: 10px;
  font-size: 13px;
  margin-top: 15px;
}

.listado img {
  width: 73px;
  height: 73px;
}

#info {
  display: flex;
  flex-direction: column;
  margin: 0%;
}

#info p {
  width: 340px;
  padding-top: 20px;
}

#info h3 {
  padding-bottom: 30px;
  padding-top: 30px;
}

#final {
  background: #0D0706;
  color: #B8745D;
  padding-top: 40px;
  padding-bottom: 30px;
  padding-left: 25px;
}

.parrafo { 
  width: 340px;
  padding-left: 30px;
  padding-top: 20px;
  padding-right: 60px;
}

.parrafo h3 {
  font-size: 18px;
}

.parrafo p { 
  padding-top: 20px;
  font-size: 13px;
}

#p1 p {
  text-decoration: underline;
}

#p1 {
  padding-left: 10px;
}

#p0 {
  width: 370px;
  margin-left: -20px;
}

#p0 p { 
  font-weight: lighter;
} 


footer { 
  font-size: 14px;
  color: #B8745D;
  font-weight: bolder;
  background: #180E0C;
  text-align: center;
  align-content: center;
  padding-top: 30px;
  padding-bottom: 20px;
}

